[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/zsh-nvm"]
	path = zsh/custom/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "nvim/bundle/vim-superman"]
	path = nvim/bundle/vim-superman
	url = https://github.com/jez/vim-superman
[submodule "zsh/custom/kube-ps1"]
	path = zsh/custom/kube-ps1
	url = git@github.com:jonmosco/kube-ps1.git
[submodule "kube/kubectx"]
	path = kube/kubectx
	url = git@github.com:ahmetb/kubectx.git
