[submodule "zsh/custom/themes/pure"]
	path = zsh/custom/themes/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/pure"]
	path = zsh/custom/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/custom/zsh-nvm"]
	path = zsh/custom/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "nvim/bundle/vim-superman"]
	path = nvim/bundle/vim-superman
	url = https://github.com/jez/vim-superman
